@import '@/styles/theme-variables.scss';
@import '@/styles/mixins.scss';

.button {
  @include Size(100%, 100%);
  @include OxygenFont(black, 12px, 400);
  @include Flex(center, center, row);
  background: white;
  border: 1px solid black;
  cursor: pointer;
  gap: 5px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 6px;

  div {
    @include OxygenFont(black, 12px, 700);
    text-transform: uppercase;
  }
}
